.toggle {
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1rem;
	vertical-align: top;
	border-radius: 2px;
}

.toggle__input  {
	display: none;
}

.toggle__button {
	background-color: #300;
	border: 1px solid #300;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-size: .75rem;
	height: 30px;
	line-height: 20px;
	position: relative;
	text-transform: uppercase;
	transition: all .3s ease;
	width: 40px
}

.toggle__button::before {
	background: #FFF;
	color: #300;
	content: 'off';
	display: inline-block;
	height: 20px;
	padding: 0 3px;
	position: relative;
	width: 28px;
	top: 5px;
	left: 5px;
	transition: all .3s ease;
}

.toggle__input:checked + .toggle__button {
	background-color: red;
	border: 1px solid red;
}

.toggle__input:checked + .toggle__button::before {
	color: red;
	content: 'on';
	left: 8px
}

.button {
	border-radius: 5px;
	font-size: 1em;
	background-color: lightgray;
	margin: 0 5px;
	padding: 0 4px;
}

#switches {
	top: 105px;
	left: 34px;
	display: flex;
}
